# Every change requires review from the repo owner by default.
# Syntax: https://docs.github.com/en/repositories/managing-your-repositories-settings-and-customization/customizing-your-repository/about-code-owners
*       @ayberksavas
